@model SportsWebsite.Models.TableModel
@using SportsWebsite.Models;
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@section TitleContent{
    Football table
}

@section ContentBody{
    @using (Html.BeginForm())
    {
        <div id="mainView" style="height:600px;width:1000px;background-color:red;">
            <div id="tableview" style="height:500px;width:800px;background-color:antiquewhite;">
                <table border="0" style="width:50%;border-collapse:separate;white-space:nowrap;border-spacing:0.5em">
                    <tr>
                        <td align="center">
                            @Html.DisplayNameFor(m => m.leagueModel[0].leagueName)

                        </td>
                        <td>
                            @{
                                List<SelectListItem> listItems = new List<SelectListItem>();
                                //Write loop and iterate on all elements of m.leagueModel[i]
                                listItems.Add(new SelectListItem
                                {
                                    Text = "-- Select --",
                                    Value = "0",
                                    Selected = true
                                });

                                foreach(LeagueModel item in Model.leagueModel)
                                {
                                    if (item.leagueName != null)
                                    {
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = item.leagueName,
                                            Value = item.leagueId.ToString()
                                        });
                                    }
                                }
                            }
                            @Html.DropDownListFor(m => m.leagueModel[0].leagueName, listItems,
                            new
                            {
                                @id = "league", @class = "form-control",
                            })

                        </td>
                        

                        <td width="45%">
                            <input type="submit" class="btn btn-success" value="Update" id="btnRegister" name="btnRegister" style="width:95%" />

                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(m => m.footballTableModel[0].Team)
                        </td>
                        <td>
                            @Html.DisplayNameFor(m => m.footballTableModel[0].Played)
                        </td>
                        <td>
                            @Html.DisplayNameFor(m => m.footballTableModel[0].Win)
                        </td>
                        <td>
                            @Html.DisplayNameFor(m => m.footballTableModel[0].Draw)
                        </td>
                        <td>
                            @Html.DisplayNameFor(m => m.footballTableModel[0].Lost)
                        </td>
                        <td>
                            @Html.DisplayNameFor(m => m.footballTableModel[0].GoalsFor)
                        </td>
                        <td>
                            @Html.DisplayNameFor(m => m.footballTableModel[0].GoalsAgainst)
                        </td>
                        <td>
                            @Html.DisplayNameFor(m => m.footballTableModel[0].GoalsDifference)
                        </td>
                        <td>
                            @Html.DisplayNameFor(m => m.footballTableModel[0].Points)
                        </td>
                        @foreach(FootballTableModel footballtable in Model.footballTableModel)
                        {
                           
                            
                        }
                    </tr>
                </table>
            </div>
        </div>
                                }
    }
